--extra-index-url https://download.pytorch.org/whl/cpu

Flask==2.3.3
Flask-CORS==4.0.0
PyMuPDF==1.22.5
sentence-transformers==2.2.2
python-dotenv==1.0.0
gunicorn==21.2.0
transformers==4.30.2
tokenizers==0.13.3
torch==2.8.0+cpu
numpy==1.26.4
regex==2023.10.3
